<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] (%file:%line) - %message%newline" />
      </layout>
    </appender>

    <!-- Crea al max 2 file di backup della dimensione massima di 10 KB,
        al cambio del giorno riparte dai log presenti senza creare nuovi file.
        In questo modo si limita a max 30 KB il volume complessivo dei log. -->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="logs\\test.log" />
      <appendToFile value="true" />
      <maximumFileSize value="10KB" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="INFO" />
      <appender-ref ref="Console" />
      <appender-ref ref="RollingFile" />
    </root>


  </log4net>
</configuration>